.vs/
/.vs/
.vs/*
/.vs/*
Debug/
Release/
x64/
obj/
*.obj
*.ilk
*/*/Debug
*/*/Release
Debug/
Release/
*.lib
glm.0.9.9.800/
*.sln
*.vcxproj
*.vcxproj.filters
*.cmake
Win32/
CMakeCache.txt
CMakeFiles/
Lunity.dir/
Nuvola.dir/
.vscode/
*.exe
*.dll
Output/
*.csproj
node_modules/
package-lock.json
.idea/
out/
cmake-build-debug/
cmake-build-release/
cmake-build-relwithdebinfo/